{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="display-6 text-center">Event Wish List</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Event Name</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Speaker</th>
                </tr>
            </thead>
            <tbody>
                {% for wish in wish_list %}
                    <tr>
                        <td>{{ wish.event.name }}</td>
                        <td>{{ wish.event.date|date:"F d, Y H:i" }}</td>
                        <td>{{ wish.event.location }}</td>
                        <td>{{ wish.event.speaker_name }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No events in wishlist at the moment.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
